<EditForm Model="@color" OnValidSubmit="OnValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<fieldset disabled="@Disabled">
	<div class="form-group">
		<label>Color:</label>
		<div>
			<InputText class="form-control" @bind-Value="@color.Name" />
			<ValidationMessage For="@(() => color.Name)" />
		</div>
	</div>
	</fieldset>

	@if (!Disabled)
	{	
	<br />
	<button type="submit" class="btn btn-success">
		@ButtonText
	</button>
	}
	<br />
	<BackToList Target="colors" />

</EditForm>

@code {
	[Parameter] public bool Disabled { get; set; } = false;
	[Parameter] public Color color { get; set;  }
	[Parameter] public string ButtonText { get; set; } = "Save";
	[Parameter] public EventCallback OnValidSubmit { get; set; }
}
